@import './reset.scss';

$nano: #558cc9;
$green: #4caf50;
$red: #f44336;

:root {

  --font: 'Lato', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --nano: #{$nano};
  --green: #{$green};
  --red: #{$red};
  --news-reddit: orangered;
  --news-nano: var(--nano);
  --news-forum: #4caf50;

  --bp-mobile: 540px;

  --light-primary: #0f1120;
  --light-hover: #4b1f0e;
  --light-primary-border: #dac39d;
  --light-primary-transparent: #{adjust-color(#B7966B, $alpha: -0.8)};
  --light-bg: #{adjust-color(#fff, $saturation: -25%)};
  --light-text: #333;
  --light-header: #f7efe0;

  --dark-primary: #616161;
  --dark-hover: #{$nano};
  --dark-primary-border: #332d2f;
  --dark-primary-transparent: #{adjust-color(#332d2f, $alpha: -0.5)};
  --dark-bg: #0f1120;
  --dark-text: #cecece;
  --dark-header: var(--dark-bg);

  .light-mode {
    --primary: var(--light-primary);
    --hover: var(--light-hover);
    --primary-border: var(--light-primary-border);
    --primary-transparent: var(--light-primary-transparent);
    --bg: var(--light-bg);
    --text: var(--light-text);
    --header: var(--light-header);
  }

  .dark-mode {
    --primary: var(--dark-primary);
    --hover: var(--dark-hover);
    --primary-border: var(--dark-primary-border);
    --primary-transparent: var(--dark-primary-transparent);
    --bg: var(--dark-bg);
    --text: var(--dark-text);
    --header: var(--dark-header);
  }
}



body, html {
  display: flex;
  flex: 1;
  min-height: 100%;
  width: 100%;
  overflow: overlay;
}

body, input {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font);
}

h1, h2, h3 {
  color: var(--primary);
}

a {
  text-decoration: none;
  color: var(--nano);

  &:hover {
    text-decoration: underline;
  }
}

button {
  background: none;
  border: none;
  padding: 0.5rem;
  outline: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
}

main {
  h2 {
    color: var(--text);
    font-size: 1.2rem;

    sub {
      margin-top: 0.5rem;
      display: block;

      strong {
        border: 1px solid;
        border-radius: 4px;
        padding: 0 0.25rem;
        margin-right: 0.5rem;
      }
    }
  }

  h3 {
    color: var(--text);
    font-size: 1.05rem;
    text-align: left;
  }

  h2, ul li, span, a, div {
    overflow-wrap: break-word;
    word-break: break-all;
  }
}

pre {
  font-family: var(--font-mono);
  overflow: auto;
}

@media (min-width: 540px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary-border);
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  // ::-webkit-scrollbar-thumb:hover {
  //   background: #ffffff;
  // }
  // ::-webkit-scrollbar-thumb:active {
  //   background: #000000;
  // }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  // ::-webkit-scrollbar-track:hover {
  //   background: #666666;
  // }
  // ::-webkit-scrollbar-track:active {
  //   background: #333333;
  // }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.grey {
  opacity: 0.5;
}

.red {
  color: var(--red);
}

.show-on-mobile {
  display: none;
}

@media (max-width: 540px) {
  .show-on-mobile {
    display: unset;
  }
  
  .hide-on-mobile {
    display: none;
  }
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.news-feed-container{
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px;
}

#__next {
  width: 100%;
}